<!DOCTYPE html>
<html>
    {% include '::header.html.twig' %}
    <body>
        {% block body %}{% endblock %}

        {{ render(controller('MyRecipesBundle:Default:lastRecipes')) }}

        {% block javascripts %}{% endblock %}

    </body>
</html>
